{% extends "base.html" %}

{% block title %}Car Parking System{% endblock %}

{% block content %}
    <div class="container-fluid bg-image">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card bg-transparent border-0 move-up">
                    <div class="card-body">
                        <h1 class="text-center text-light mb-4 display-4">Welcome to Car Parking System</h1>
                        <p class="lead text-center text-light">Please log in or register to continue</p>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg btn-block">Login</a>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ url_for('register') }}" class="btn btn-success btn-lg btn-block">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
